*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif;
    width: auto;
}

/* Top intro */
.head {
    width: auto;

}
.box {
    position: absolute;
    width: 100%;
    height: 60%;
    left: 0%;
    top: 0%;
    
    /*background: url(Images\front_gif.gif);*/
}

.name {
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);

    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
    text-decoration-line: underline;
    text-transform: uppercase;

/* Blue 3 */

    color: #56CCF2;

}

.desc {
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    top: 27%;
    transform: translate(-50%, -50%);

    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
    text-decoration-line: underline;
    text-transform: uppercase;

/* Blue 3 */

    color: #56CCF2;
}
.learnMore {
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    top: 34%;
    transform: translate(-50%, -50%);
}

nav {
    position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    top: 34%;
    transform: translate(-50%, -50%);

/* Gray 6 */

    background: #F2F2F2;
    border-radius: 30px;
}


.bady {
    position: absolute;
    width: auto;
    height: auto;
    left: 5%;
    top: 65%;


    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: auto;
    line-height: 20px;

    color: #000000;
}

.cplus {
    position: absolute;
    width: auto;
    height: auto;
    left: 30%;
    top: 100%;
    /*background: url(Images\C++Im.png);*/
}

.java {
    position: absolute;
    width: auto;
    height: auto;
    left: 0%;
    top: 96%;

    /*background: url(Images\java.gif);*/
}

.javascript {
    position: absolute;
    width: auto;
    height: auto;
    left: 45%;
    top: 100%;

   /* background: url(Images\JavaScript.png);*/
}

.python {
    position: absolute;
    width: auto;
    height: auto;
    left: 65%;
    top: 100%;
    /*background: url(Images\PythonIm.jpg);*/
}

.sqlContainer {
    position: absolute;
    width: auto;
    height: auto;
    left: 85%;
    top: 100%;

    /*background: url(Images\SQL_container.png);*/
}

.talk {
    position: absolute;
    width: auto;
    height: auto;
    left: 5%;
    top: 60%;

    color: #000000;
}



.weather-img {
    position: absolute;
    width: 17%;
    height: auto;
    left: 0%;
    top: 0%;

    background: url(Images\WeatherIMG.png);
}

.icon{
    position: absolute;
    width: auto;
    height: auto;
    left: 3%;
    top: 10%;
    transform: translate(-50%, -50%);
    
}

.weather{
    position: absolute;
    width: auto;
    height: auto;
    left: 3%;
    top: 15%;
    transform: translate(-50%, -50%);
}

.place{
    position: absolute;
    width: auto;
    height: auto;
    left: 9%;
    top: 2%;
    transform: translate(-50%, -50%);

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 130%;
}

.temp{
    position: absolute;
    width: auto;
    height: auto;
    left: 12%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.real-feel{
    position: absolute;
    width: auto;
    height: auto;
    left: 12%;
    top: 15%;
    transform: translate(-50%, -50%);
}

